<!DOCTYPE html>
<html>
<head>
    <title>Students List</title>
</head>
<body>

    <h2>Student List</h2>

    <table border="1" cellpadding="10" cellspacing="0">

        <tr>
            <th>ID</th>
            <th>Student ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Course</th>
            <th>Branch</th>
            <th>Semester</th>
            <th>Section</th>
        </tr>

        {% for student in students %}

        <tr>
            <td>{{ student[0] }}</td>
            <td>{{ student[1] }}</td>
            <td>{{ student[2] }}</td>
            <td>{{ student[3] }}</td>
            <td>{{ student[4] }}</td>
            <td>{{ student[5] }}</td>
            <td>{{ student[6] }}</td>
            <td>{{ student[7] }}</td>
            <td>{{ student[8] }}</td>
        </tr>

        {% endfor %}

    </table>

</body>
</html>